<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="casterwheel">
  <xacro:macro name="casterwheel" params="">
		<xacro:property name="cs_m" value="0.05"/>
		<xacro:property name="cs_w" value="0.02"/>
		<xacro:property name="cs_h" value="0.02"/>
		<xacro:property name="cs_d" value="${w_r + 0.5*m_d - 1.5*cw_r}"/>
		<link name="caster_support">
			<visual>
				<geometry>
					<box size="${cs_w} ${cs_h} ${cs_d}"/>
				</geometry>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<material name="tan"/>
			</visual>
			<collision>
				<geometry>
					<box size="${cs_w} ${cs_h} ${cs_d}"/>
				</geometry>
			</collision>
			<inertial>
				<mass value="${cs_m}"/>
				<xacro:cuboid_i m="${cs_m}" w="${cs_w}" h="${cs_h}" d="${cs_d}"/>
			</inertial>
		</link>

		<joint name="base_to_caster_support" type="fixed">
			<parent link="base_link"/>
			<child link="caster_support"/>
			<origin xyz="0 -0.07 ${-(0.5*cs_d + 0.5*base_d)}"/>
		</joint>

		<xacro:property name="cw_m" value="0.05"/>
		<xacro:property name="cw_r" value="0.01"/>
		<link name="caster_wheel">
			<visual>
				<geometry>
					<sphere radius="${cw_r}"/>
				</geometry>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<material name="black"/>
			</visual>
			<collision>
				<geometry>
					<sphere radius="${cw_r}"/>
				</geometry>
			</collision>
			<inertial>
				<mass value="${cw_m}"/>
				<xacro:sphere_i m="${cw_m}" r="${cw_r}"/>
			</inertial> 
		</link>

		<joint name="caster_support_to_wheel" type="fixed">
			<parent link="caster_support"/>
			<child link="caster_wheel"/>
			<origin xyz="0 0 ${-(0.5*cs_d + 0.5*cw_r)}"/>
		</joint>
	</xacro:macro>
</robot>
