<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">

  <xacro:include filename="$(find rover)/urdf/wheel.urdf.xacro"/>

  <material name="tan">
    <color rgba="${245/255} ${222/255} ${179/255} 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.14 0.20 0.01"/>
      </geometry>
      <material name="tan"/>
    </visual>
  </link>

  <link name="pi_link">
    <visual>
      <geometry>
        <box size="0.12 0.15 0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="tan"/>
    </visual>
  </link>

  <joint name="base_to_pi" type="fixed">
    <parent link="base_link"/>
    <child link="pi_link"/>
    <origin xyz="0 0 0.03"/>
  </joint>

  <link name="laser_frame">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.035"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="tan"/>
    </visual>
  </link>

  <joint name="pi_to_lidar" type="fixed">
    <parent link="pi_link"/>
    <child link="laser_frame"/>
    <origin xyz="0 0.02 0.035"/>
  </joint>

  <link name="caster_support">
    <visual>
      <geometry>
        <box size="0.02 0.02 0.03"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="tan"/>
    </visual>
  </link>

  <joint name="base_to_caster_support" type="fixed">
    <parent link="base_link"/>
    <child link="caster_support"/>
    <origin xyz="0 -0.07 -0.02"/>
  </joint>

  <link name="caster_wheel">
    <visual>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black"/>
    </visual>
  </link>

  <joint name="caster_support_to_wheel" type="fixed">
    <parent link="caster_support"/>
    <child link="caster_wheel"/>
    <origin xyz="0 0 -0.02"/>
  </joint>

  <xacro:wheel prefix="left" reflect="-1"/> 
  <xacro:wheel prefix="right" reflect="1"/> 

</robot>
