<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">
  <xacro:property name="pi" value="3.1415"/>

  <material name="tan">
    <color rgba="${245/255} ${222/255} ${179/255} 1"/>
  </material>

  <material name="yellow">
    <color rgba="0.8 0.8 0 1"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.14 0.20 0.01"/>
      </geometry>
      <material name="tan"/>
    </visual>
  </link>

  <link name="pi_link">
    <visual>
      <geometry>
        <box size="0.12 0.15 0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="tan"/>
    </visual>
  </link>

  <joint name="base_to_pi" type="fixed">
    <parent link="base_link"/>
    <child link="pi_link"/>
    <origin xyz="0 0 0.03"/>
  </joint>

  <link name="laser_frame">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.035"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="tan"/>
    </visual>
  </link>

  <joint name="pi_to_lidar" type="fixed">
    <parent link="pi_link"/>
    <child link="laser_frame"/>
    <origin xyz="0 0.02 0.035"/>
  </joint>
 
  <xacro:macro name="wheel" params="prefix reflect">
    <link name="${prefix}_motor">
      <visual>
        <geometry>
          <box size="0.02 0.065 0.02"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      	<material name="yellow"/>
      </visual>
    </link>
    
    <joint name="base_to_${prefix}_motor" type="fixed">
      <parent link="base_link"/>
      <child link="${prefix}_motor"/>
      <origin xyz="${reflect*0.06} 0.01 -0.015"/>
    </joint>

    <link name="${prefix}_wheel">
      <visual>
        <geometry>
          <cylinder length="0.027" radius="0.0325"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        <material name="black"/>
      </visual>
    </link>

    <joint name="${prefix}_motor_to_wheel" type="fixed">
      <parent link="${prefix}_motor"/>
      <child link="${prefix}_wheel"/>
      <origin xyz="${reflect*0.025} 0.02 0"/>
    </joint>
  </xacro:macro>
  <xacro:wheel prefix="left" reflect="-1"/> 
  <xacro:wheel prefix="right" reflect="1"/> 

</robot>
