<launch>
	<arg name="model" default="$(find rover)/urdf/rover.urdf"/>
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<node pkg="tf" type="static_transform_publisher" name="laser_frame_broadcaster" args="0 0 0 0 0 0 1 base_link laser_frame 100" />
</launch>
